:root {
  --light: hsl(219, 79%, 90%);
  --medium: hsl(219, 79%, 60%);
  --dark: hsl(219, 79%, 50%);

  --green: green;

  /* greens, reds for changing answer buttons, timer */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* margin: 0px;
  padding: 0px; */
  font-family: Arial, Helvetica, sans-serif
}


h1 {
  text-align: center;
}


header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.button, #timer, button {
  color: white;
  font-weight: bold;
  width: fit-content;
  padding: 5px 15px;
  margin: 10px;
  border-radius: 5px;
  background-color: var(--dark);
  box-shadow: 0 0 3px var(--dark);
}

.button:hover {
  background-color: var(--medium);
  box-shadow: 0 0 10px var(--dark);
  cursor: pointer;
}


#high-scores-button {
  justify-self: start
}

#home-button {
  justify-self: start;
  display: none;
}

/* this section is display:none by default,
changed in javascript to display:block when required */
#timer {
  width: 60px;
  text-align: center;
  justify-self: end;
  display: none;
}


#welcome-wrapper {
  margin: 100px auto;
  max-width: 600px;
  width: 60%;
  text-align: center;
  display: block;
}

#start-quiz-button {
  margin: 10px auto;
}


/* this section is display:none by default,
changed in javascript to display:block when required */
#quiz-wrapper {
  margin: 100px auto;
  max-width: 600px;
  width: 60%;
  text-align: left;
  display: none;
}

#question {
  margin-left: 10px;
}

#result-message {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 10px;
  border-top: solid;
  border-width: 1px;
  border-color: var(--light);
  display: none;
}


/* this section is display:none by default,
changed in javascript to display:block when required */
#all-done-wrapper {
  margin: 100px auto;
  width: 220px;
  text-align: left;
  display: none;
}


#initials-input {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100px;
  text-align: center;
}

form {
  display: flex;
}

/* this section is display:none by default,
changed in javascript to display:block when required */
#high-scores-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
  display: none;
}

#high-scores-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  row-gap: 4px;
  justify-content: center;
  margin-bottom: 10px;
}

.position {
  text-align: right;
  padding: 5px 22px 5px 20px;
  border-top-left-radius: 20px;
}

.initials {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.score {
  text-align: right;
  padding: 5px 55px 5px 0;
  border-bottom-right-radius: 20px;
}

.position,
.initials,
.score {
  background-color: var(--light);
  box-shadow: 0 0 3px var(--light);
}

#clear-high-scores {
  margin: 20px auto;
}